@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SuperCorn-X3xGg";
  src: url("/fonts/supercorn-x3xgg-webfont.woff2");
  font-weight: 600;
}

@font-face {
  font-family: "SillyHandScriptRegular-X33EP";
  src: url("/fonts/sillyhandscriptregular-x33ep-webfont.woff2");
  font-weight: 700;
}

html {
  scroll-behavior: smooth;
}

input:-webkit-autofill {
  box-shadow: inset 0 0 0 32px #faf0e4 !important;
  -webkit-text-fill-color: #3a3a32;
}

/* Estilo de scrollbar para navegadores webkit (Chrome y Safari) */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #3a3a32;
  border-radius: 5px;
}

/* Estilo de scrollbar para Firefox */
body {
  scrollbar-width: thin;
  scrollbar-color: #3a3a32;
}

body::-webkit-scrollbar-thumb {
  background-color: #3a3a32;
}

body::-webkit-scrollbar-track {
  background-color: rgba(58, 58, 50, 0.204);
}

body::-webkit-scrollbar-track:hover,
body::-webkit-scrollbar-track:active {
  background: rgba(58, 58, 50, 0.204);
}
.loader {
  width: 48px;
  height: 48px;
  border: 2px solid #FFF;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  background: #FF3D00;
  width: 6px;
  height: 6px;
  transform: translate(150%, 150%);
  border-radius: 50%;
}
.loader::before {
  left: auto;
  top: auto;
  right: 0;
  bottom: 0;
  transform: translate(-150%, -150%);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 